<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Ballroom Competition Manager!</h1>
		<p>
			Ballroom Competition Manager (BCM) is a browser based solution for handling ballroom dance competitions. BCM handles registration, heat scheduling, inputting judge scores, and calculating results
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Features &raquo;</a>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-3">
			<a class="btn btn-danger btn-lg btn-block" href="#" role="button">Register for a Competition</a>
		</div>
		<div class="col-md-3">
			<a class="btn btn-success btn-lg btn-block" href="#" role="button">My Competitions</a>
		</div>
		<div class="col-md-3">
			<a class="btn btn-info btn-lg btn-block" href="#" role="button">Competition Results</a>
		</div>
		<div class="col-md-3">
			<a class="btn btn-warning btn-lg btn-block" href="#" role="button">View Rankings</a>
		</div>
	</div>

</div>
<!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

